Repository gozmanthefirst/book-inventory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/docs/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix, eslint --config packages/ui/eslint.config.mjs --fix, prettier --write

chore(lint): finish setting up eslint
  .lintstagedrc.json
  apps/docs/eslint.config.js
  apps/web/eslint.config.js
  packages/ui/eslint.config.mjs
Due: eslint --config apps/docs/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix, prettier --write

chore: remove unnecessary lint-staged script
  package.json
Due: prettier --write

chore: add MIT license
  LICENSE
Due: none

chore: remove unnecessary package
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
Due: eslint --config packages/ui/eslint.config.mjs --fix, prettier --write

feat: set up tsconfig package
  packages/typescript-config/api.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/react-library.json
  packages/typescript-config/react.json
Due: prettier --write

chore: remove unnecessary file
  .npmrc
Due: none

chore: update tsconfig for nextjs apps
  packages/typescript-config/nextjs.json
Due: prettier --write

chore: remove unnecessary nextjs app
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/favicon.ico
  apps/docs/app/fonts/GeistMonoVF.woff
  apps/docs/app/fonts/GeistVF.woff
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/eslint.config.js
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/public/file-text.svg
  apps/docs/public/globe.svg
  apps/docs/public/next.svg
  apps/docs/public/turborepo-dark.svg
  apps/docs/public/turborepo-light.svg
  apps/docs/public/vercel.svg
  apps/docs/public/window.svg
  apps/docs/tsconfig.json
Due: eslint --config apps/docs/eslint.config.js --fix, prettier --write

chore: update tsconfig for nextjs app
  apps/web/app/page.tsx
  apps/web/tsconfig.json
Due: eslint --config apps/web/eslint.config.js --fix, prettier --write

chore: remove .vscode dir from respository and add to .gitignore
  .gitignore
  .vscode/settings.json
Due: prettier --write

chore: add to vscode dir to .gitignore
  .gitignore
Due: none

chore: update list of files/dirs ignored by git
  .gitignore
Due: none

chore: update lint commands ran on staged files
  .lintstagedrc.json
Due: prettier --write

chore: update project deps and turbo settings
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore: update deps
  pnpm-lock.yaml
Due: none

docs: update the README files
  README.md
  apps/api/README.md
  apps/web/README.md
Due: prettier --write

chore: set up dockerfiles
  apps/api/Dockerfile
  apps/api/test.Dockerfile
Due: none

chore: remove unnecessary script
  package.json
Due: prettier --write

docs: remove project structure from README
  README.md
Due: prettier --write

chore: update dockerfile command
  apps/api/Dockerfile
Due: none

chore: add declaration dir to tsconfig template for APIs
  packages/typescript-config/api.json
Due: prettier --write

refactor: move prisma & db setup to dedicated package
  apps/api/src/config/env.ts
  apps/api/src/config/prisma.ts
  apps/api/src/lib/auth.ts
  apps/api/src/lib/authors.ts
  apps/api/src/lib/books.ts
  apps/api/src/lib/genres.ts
  apps/api/src/lib/reset-password.ts
  apps/api/src/lib/session.ts
  apps/api/src/lib/user.ts
  apps/api/src/lib/verification.ts
  apps/api/src/routes/auth-route.ts
  apps/api/src/routes/user-route.ts
  apps/api/src/types.ts
  apps/web/.env.example
  apps/web/prisma/migrations/20250221152406_duplicate_isbn/migration.sql
  apps/web/prisma/migrations/20250228155145_read_status/migration.sql
  apps/web/prisma/migrations/migration_lock.toml
  apps/web/prisma/schema/book-author-genre.prisma
  apps/web/prisma/schema/schema.prisma
  apps/web/prisma/schema/user.prisma
  apps/web/src/shared/lib/prisma.ts
  packages/database/.env.example
  packages/database/eslint.config.js
  packages/database/package.json
  packages/database/prisma/migrations/20250209131328_init/migration.sql
  packages/database/prisma/migrations/20250209175724_auth/migration.sql
  packages/database/prisma/migrations/20250221151227_duplicate_isbn/migration.sql
  packages/database/prisma/migrations/20250228153038_rename_tables/migration.sql
  packages/database/prisma/migrations/20250228155115_read_status/migration.sql
  packages/database/prisma/migrations/20250319153817_revamp_auth/migration.sql
  packages/database/prisma/migrations/20250319154219_remove_mapping/migration.sql
  packages/database/prisma/migrations/20250329181106_add_expires_index/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema/book-author-genre.prisma
  packages/database/prisma/schema/schema.prisma
  packages/database/prisma/schema/user.prisma
  packages/database/src/index.ts
  packages/database/tsconfig.json
Due: eslint --config apps/web/eslint.config.js --fix, prettier --write

refactor: update dockerfiles to accomodate a separate db package
  apps/api/Dockerfile
  apps/api/test.Dockerfile
Due: none

chore: create a .dockerignore file
  .dockerignore
Due: none

chore(deps): install deps and add scripts
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update example env file
  apps/api/.env.example
Due: none

refactor: add prefetching to links in the auth components
  apps/web/src/features/auth/components/auth-header.tsx
  apps/web/src/features/auth/components/forgot-password-form.tsx
  apps/web/src/features/auth/components/reset-password-form.tsx
  apps/web/src/features/auth/components/sign-in-form.tsx
  apps/web/src/features/auth/components/sign-up-form.tsx
Due: eslint --config apps/web/eslint.config.js --fix

refactor: change location of generated prisma client
  packages/database/prisma/schema/schema.prisma
  packages/database/src/index.ts
Due: none

refactor: make database setup more cleaner and effective
  apps/api/src/config/env.ts
  package.json
  packages/database/package.json
  packages/database/src/index.ts
Due: prettier --write

chore: add tasks pertaining to db operations
  turbo.json
Due: prettier --write

refactor: add database url to env config
  apps/api/src/config/env.ts
Due: none

refactor: update docker setup
  .dockerignore
  apps/api/Dockerfile
  apps/api/test.Dockerfile
Due: none

refactor: add db package build step after generating prisma client
  apps/api/Dockerfile
Due: none

chore: remove prisma postinstall script from web app package.json
  apps/web/package.json
Due: prettier --write

chore: update docker setup
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/test.Dockerfile
Due: none

update tsconfig setup
  packages/typescript-config/api.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/react.json
Due: prettier --write

chore: update db setup
  packages/database/src/index.ts
Due: none

Path conditions:
  eslint --config apps/docs/eslint.config.js --fix: any of: apps/docs/**/*.{ts,tsx,js,jsx}
  eslint --config apps/web/eslint.config.js --fix: any of: apps/web/**/*.{ts,tsx,js,jsx}
  eslint --config packages/ui/eslint.config.mjs --fix: any of: packages/ui/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{html,css,json,md}
