Repository gozmanthefirst/book-inventory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/api/eslint.config.js, eslint --config apps/web/eslint.config.mjs, prettier --write

.lintstagedrc.json:

{
  "apps/api/**/*.{ts,tsx,js,jsx}": [
    "eslint --config apps/api/eslint.config.js"
  ],
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "eslint --config apps/web/eslint.config.mjs"
  ],
  "**/*.{html,css,json,md}": ["prettier --write"]
}

chore: update script for db package
  packages/database/package.json
Due: prettier --write

docs: create README.md for tsconfig package
  packages/typescript-config/README.md
Due: prettier --write

chore: remove unnecessary scripts from main package.json
  package.json
Due: prettier --write

fix: resolve z-index stacking issue with book modal and bottom nav
  apps/web/src/features/navigation/components/bottom-nav.tsx
Due: eslint --config apps/web/eslint.config.mjs

feat: add search input to my-books page
  apps/web/src/features/book/components/my-books.tsx
Due: eslint --config apps/web/eslint.config.mjs

refactor: update db setup
  packages/database/src/index.ts
Due: none

refactor: change structure of data sent from /user/me
  apps/api/src/routes/user-route.ts
Due: eslint --config apps/api/eslint.config.js

feat: add user dropdown to header
  apps/web/src/shared/components/header.tsx
Due: eslint --config apps/web/eslint.config.mjs

fix: try to resolve prod version logout issue
  apps/web/src/features/auth/api/logout.ts
Due: eslint --config apps/web/eslint.config.mjs

chore: remove commented out code
  apps/web/src/features/auth/components/sign-in-form.tsx
  apps/web/src/features/auth/components/sign-up-form.tsx
Due: eslint --config apps/web/eslint.config.mjs

chore: remove .vscode folder from .gitignore file
  .gitignore
  .vscode/settings.json
Due: prettier --write

chore: update deps
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set up database package
  packages/database/package.json
  packages/database/prisma/schema/migrations/20250209131328_init/migration.sql
  packages/database/prisma/schema/migrations/20250209175724_auth/migration.sql
  packages/database/prisma/schema/migrations/20250221151227_duplicate_isbn/migration.sql
  packages/database/prisma/schema/migrations/20250228153038_rename_tables/migration.sql
  packages/database/prisma/schema/migrations/20250228155115_read_status/migration.sql
  packages/database/prisma/schema/migrations/20250319153817_revamp_auth/migration.sql
  packages/database/prisma/schema/migrations/20250319154219_remove_mapping/migration.sql
  packages/database/prisma/schema/migrations/20250329181106_add_expires_index/migration.sql
  packages/database/prisma/schema/migrations/migration_lock.toml
  packages/database/prisma/schema/models/book-author-genre.prisma
  packages/database/prisma/schema/models/user.prisma
  packages/database/prisma/schema/schema.prisma
Due: prettier --write

chore: remove commented out code
  apps/api/src/index.ts
Due: eslint --config apps/api/eslint.config.js

chore: update deps
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update globalEnv
  turbo.json
Due: prettier --write

fix: resolve database error
  apps/web/src/features/book/api/update-book.ts
  apps/web/src/features/search/api/search-book.ts
  apps/web/src/shared/types/shared-types.ts
  packages/database/src/index.ts
Due: eslint --config apps/web/eslint.config.mjs

fix: try to resolve database error
  packages/database/package.json
Due: prettier --write

fix: try to resolve postinstall issue
  apps/api/Dockerfile
  packages/database/package.json
Due: prettier --write

fix: try to resolve postinstall issue
  packages/database/package.json
Due: prettier --write

docs: update readmes to display project's archived state
  README.md
  apps/api/README.md
  apps/web/README.md
Due: prettier --write
